@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@900&display=swap');

h1{
    font-family: 'Oswald', sans-serif;
    font-size:70px;
    color: #363958;

}
h2{
    font-family: 'Oswald', sans-serif;
    font-size:50px;
    color: #363958;
    margin-bottom:35px ;

}
h3{
    font-family: 'Oswald', sans-serif;
    font-size:35px;
    color: #FABE4C;
    justify-content:center;
}
.card-title{
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    color: #555770;
}
.card-text{
    font-size: 18px;
}
span{
    color:#FABE4C;
}
.btn{
    background-color: #A4BC46;
    color: white;
}
.card{
    border-radius:15px;
}
.card img{
   background-color: #F1F1F1;
   width:90%;
   height:330px;
   margin: auto;
   margin-top:15px;
   border-radius:15px; 
}
@media only screen and (max-width:688px){
    h1{
        font-size:50px;
    }
    h2{
       text-align:center; 
    }
    .btn{
        margin-bottom:15px;
    }
}
